---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
import ProjectCard from '@components/ProjectCard.astro';

import { Icon } from 'astro-icon/components';
import { PORFOLIO_ITEMS } from '../constants/portfolio';

import type { ImageMetadata } from 'astro';

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/portfolio/*.{jpeg,jpg,png,gif}'
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Michael Gee's Portfolio"
      description="List of all current and past projects worked on by Michael Gee. These project include both career and personal related projects."
    />
  </head>

  <body class="w-full bg-black text-white">
    <Header />

    <Container customStyles="pb-[200px] md:pb-0">
      <div class="mr:0 mb-2 flex items-center justify-center md:mr-4 md:justify-end">
        <span class="mr-4 flex items-center">
          <Icon name="mdi:star" class="mr-3 h-6 w-6 text-yellow-400" /> Featured
        </span>
        <span class="mr-4 flex items-center">
          <Icon name="mdi:computer" class="mr-3 h-6 w-6 text-green-600" />Active
        </span>
        <span class="mr-4 flex items-center">
          <Icon name="mdi:archive" class="mr-3 h-6 w-6 text-gray-500" />Archive
        </span>
      </div>

      <div class="flex w-full flex-col items-center justify-start md:flex-row md:flex-wrap">
        {
          PORFOLIO_ITEMS.map((item) => {
            if (!images[item.imagePath])
              throw new Error(
                `"${item.imagePath}" does not exist in glob: "src/assets/portfolio/*.{jpeg,jpg,png,gif}"`
              );

            return (
              <ProjectCard
                title={item.title}
                image={images[item.imagePath]()}
                imageAlt={item.imageAlt}
                icons={item.icons}
              />
            );
          })
        }
      </div>
    </Container>
  </body>
</html>
