---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

export interface Props {
	title: string;
	image: string;
	imageAlt: string;
	icons?: ProjectLink[];
}

type ProjectLink = {
	iconPack: string;
	iconName: string;
	href: string;
};

const { title, image, imageAlt, icons } = Astro.props;
---

<article
	class="mx-auto my-4 w-[calc(356px-32px)] md:w-[calc(33%-32px)] md:m-4 rounded-2xl border border-zinc-700"
>
	<Image src={image} width={356} height={200} alt={imageAlt} class="rounded-t-2xl" />

	<h3 class="text-lg text-center font-semibold tracking-tight text-zinc-100 my-4">{title}</h3>

	<div class="w-full flex items-center justify-center mb-6">
		{
			icons?.map((icon, index) => {
				return (
					<a
						href={icon.href}
						target="_blank"
						rel="noopener noreferrer"
						class={`text-zinc-300 rounded-full cursor-pointer hover:text-white ${
							index > 0 ? 'ml-4' : ''
						}`}
					>
						<Icon pack={icon.iconPack} name={icon.iconName} class="w-6 h-6" />
					</a>
				);
			})
		}
	</div>
</article>
