---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

export interface Props {
	title: string;
	image: string;
	imageAlt: string;
	icons?: ProjectLink[];
}

type ProjectLink = {
	iconName: string;
	href: string;
};

const { title, image, imageAlt, icons } = Astro.props;
---

<article
	class="mx-auto my-4 w-[calc(356px-32px)] rounded-2xl border border-zinc-700 md:m-4 md:w-[calc(33%-32px)]"
>
	<Image src={image} width={356} height={200} alt={imageAlt} class="h-[200px] rounded-t-2xl" />

	<h3 class="my-4 text-center text-lg font-semibold tracking-tight text-zinc-100">{title}</h3>

	<div class="mb-6 flex w-full items-center justify-center">
		{
			icons?.map((icon, index) => {
				return (
					<a
						href={icon.href}
						target="_blank"
						rel="noopener noreferrer"
						class={`cursor-pointer rounded-full text-zinc-300 hover:text-white ${
							index > 0 ? 'ml-4' : ''
						}`}
					>
						<Icon name={icon.iconName} class="h-6 w-6" />
					</a>
				);
			})
		}
	</div>
</article>
