---
export interface Props {
	href: string;
	title: string;
	date: string;
	description: string;
	styles?: string;
}

const { href, title, date, description, styles } = Astro.props;
---

<a
	href={href}
	class={`w-full my-4 p-6 rounded-2xl border border-zinc-700/40 cursor-pointer hover:bg-zinc-800 ${styles}`}
>
	<article class="flex flex-col items-start">
		<time
			class="relative z-10 order-first mb-3 pl-3.5 flex items-center text-sm font-medium text-zinc-500"
		>
			<span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
				<span class="h-4 w-0.5 rounded-full bg-zinc-500"></span>
			</span>
			{date}
		</time>
		<h3 class="text-base font-semibold tracking-tight text-zinc-100">{title}</h3>
		<p class="mt-2 text-sm text-zinc-400">{description}</p>
		<span class="mt-4 flex items-center text-sm font-medium text-sky-400">Read article &#8608;</span
		>
	</article>
</a>
