---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
import SubscriptionForm from '@components/SubscriptionForm.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		date: string;
	};
}

const {
	content: { title, description, date }
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="w-full bg-black text-white">
		<Header />

		<Container>
			<article class="leading-relaxed tracking-wide px-14">
				<time datetime={date} class="block text-center text-zinc-400 text-sm mb-3">{date}</time>

				<h1
					class="flex w-full max-w-fit mx-auto text-2xl sm:text-4xl sm:leading-tight mb-6 font-semibold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-rose-500 whitespace-nowrap"
				>
					{title}
				</h1>

				<slot />
			</article>

			<div class="max-w-lg mx-auto my-10">
				<SubscriptionForm />
			</div>
		</Container>
	</body>
</html>
