---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
import Engage from '@components/Engage.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate: string;
	};
}

const {
	content: { title, description, pubDate }
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="w-full bg-black text-white">
		<Header />

		<Container>
			<article class="px-4 pt-6 leading-relaxed tracking-wide">
				<time datetime={pubDate} class="mb-3 block text-center text-sm text-zinc-400"
					>{pubDate}
				</time>

				<h1
					class="mx-auto mb-6 flex w-full max-w-fit bg-gradient-to-r from-blue-500 to-rose-500 bg-clip-text text-center text-2xl font-semibold text-transparent sm:text-4xl sm:leading-tight"
				>
					{title}
				</h1>

				<slot />
			</article>

			<div class="mx-auto my-10 max-w-lg">
				<Engage />
			</div>
		</Container>
	</body>
</html>
